Input {
    dock: bottom;
    margin-top: 1;
    border: ascii;
}

Prompt {
    height: 100%;
    content-align: center middle;
}

DirectoryTree {
    height: 100%;
    content-align: center middle;
}

ContentSwitcher {
    height: 100%;
    content-align: center middle;
}
