Screen {
    align: center middle;
}

Input {
    dock: bottom;
    margin-top: 1;
    border: ascii;
}

Prompt {
    height: 100%;
    content-align: center middle;
}

DirectoryTree {
    width:25%;
    height:50%;
}